.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px 35px;
    background: #555;
    color: aliceblue;
    height: 45px;
    align-items: center;
}
.navbar a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 0 35px;
}
.navbar a:hover{
    color: #00acee;
}